[Desktop Entry]
Encoding=UTF-8
Name=KNfoViewer
GenericName=A NFO viewer for KDE
Comment=A NFO viewer for KDE
Icon=knfoviewer
MimeType=text/x-nfo
X-KDE-Library=libknfoviewerpart
Type=Service
ServiceTypes=KParts/ReadOnlyPart,Browser/View
Terminal=false
MultipleArgs=false
