[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NFO File
GeneralName=NFO File
Comment=NFO File
ServiceTypes=ThumbCreator
MimeTypes=text/x-nfo
X-KDE-Library=knfoviewerthumbnail
CacheThumbnail=true
