[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment=A NFO viewer for KDE
X-DocPath=knfoviewer/index.html
Encoding=UTF-8
Exec=knfoviewer %U
GenericName=NFO Viewer
Icon=knfoviewer
MimeType=text/x-nfo
Name=KNFOViewer
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=com.googlecode.knfoviewer
