[Desktop Entry]
Encoding=UTF-8
Name=KNfoViewer4
GenericName=A NFO viewer for KDE
Comment=A NFO viewer for KDE
Icon=knfoviewer
MimeType=text/x-nfo
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=knfoviewerpart
Type=Service
Terminal=false
MultipleArgs=false
