[Desktop Entry]
Type=Service
Name=KNFOViewer
Icon=knfoviewer
MimeType=text/x-nfo
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View;
X-KDE-Library=knfoviewerpart
InitialPreference=100
