[Desktop Entry]
Icon=knfoviewer
InitialPreference=8
MimeType=text/x-nfo;
Name=KNFOViewer
Type=Service
X-KDE-Library=knfoviewerpart
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
