[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment=A NFO viewer for KDE
Encoding=UTF-8
Exec=knfoviewer %U
GenericName=NFO Viewer
Icon=knfoviewer
InitialPreference=8
MimeType=text/x-nfo;
Name=KNFOViewer
Terminal=false
Type=Application
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=com.googlecode.knfoviewer
X-DocPath=knfoviewer/index.html
X-KDE-HasTempFileOption=true
X-KDE-StartupNotify=true
