[Desktop Entry]
CacheThumbnail=true
Encoding=UTF-8
MimeTypes=text/x-nfo;
Name=NFO File
Type=Service
X-KDE-Library=knfoviewerthumbnail
X-KDE-ServiceTypes=ThumbCreator
