[Desktop Entry]
Encoding=UTF-8
Name=KNFOViewer
Icon=knfoviewer
InitialPreference=8
MimeType=application/x-nfo;
X-KDE-Library=knfoviewerpart
Type=Service
ServiceTypes=KParts/ReadOnlyPart,Browser/View
