[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment=A NFO viewer for KDE
DocPath=knfoviewer/index.html
Encoding=UTF-8
Exec=knfoviewer %U
GenericName=NFO viewer
Icon=knfoviewer
MimeType=application/x-nfo
MultipleArgs=false
Name=KNFOViewer
StartupNotify=true
Terminal=false
Type=Application
